/* Style.css Casscading style sheet
Written by Stephen Watson
Web tech assignment 2 ServiceU   
File created ‎‎Tuesday, ‎8 ‎October ‎2019, ‏‎10:56:21 AM*/
/*Layout*/

body 
{
	width:100%;
	margin-left:1cm;
	padding:1cm;
	min-width: 1080px;
	background-size: 100% 100%;
	background-image: url("Images/background.png");  
	/*Background and page setout*/
}
h1 
{
	position: relative;
	color:black; 
	text-align: center;
	font-family: Sans-serif;
	text-transform: uppercase;
	font-size:65px;

	/*Main heading styling this heading does have a span part two is below */
}
  
  
  	
h1 span 

{ 
	position: relative;
	color: blue; 
	text-align:center;
	font-family: Sans-serif;
	text-transform: uppercase;

	/*Part two of main heading styling which includes the span*/
}
.main h2
{ 
	color: blue;
	font-family: Sans-serif;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	/*Styling for the heading above the navbar*/
}
.main 
{
	clear:both;
	padding: 5px 5px;
	/* Styling for the navbar*/
}
#Pics
{
	position: relative;
	float:left;
	width:250px;
	padding: 60px 60px;
	/*Relating to the size and position of the div for Family pic*/
}

#Pics 
{
	width: 10px;
	height: 10px;
	position:relative;
	list-style-type:none;
	float:left;
	padding: 40px 40px;
	font-size: x-large;

	/*Positioning of the pics within its div*/
}


.welcoming
{
	position: relative;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	color:red; 
	font-family: Sans-serif;
	text-align: center;
	font-size:30px;
	/*Welcoming heading Styling */
}
.Welcome
{
	text-align: center;
	color: Black; 
	position:relative;
	padding: 10px 10px;
	font-size: x-large; 
	
	/*Welcoming Paragraph/text styling*/
}

.help
{
	text-align: justify;
	position: relative;
	text-align:center;
	width:200px;
	left: 1%;
	font-size:20px;
	/*External website link with complete url giving webpage support*/
}

#coaching
{
	clear:both;
	padding: 5px 5px;
	position:relative;
	width: 500px;
	/* Styling for the Coaching div*/
}
#coaching
{
	
	position:relative;
	font-size: 23px;
	list-style-type:none;
	float:left;
	left: 12%;
	padding: 5px 5px;

	/*Positioning for life coaching paragraph and related text*/
}
#Financial
{
	clear:both;
	padding: 5px 5px;
	position:relative;
	width: 500px;
	/* Styling for the financial div*/
}
#Financial
{
	
	position:relative;
	font-size: 23px;
	list-style-type:none;
	float:left;
	left: 12%;
	padding: 5px 5px;

	/*Positioning for the financial paragraph and related text*/
}
#training
{
	clear:both;
	padding: 5px 5px;
	position:relative;
	width: 500px;
	/*Styling for the training div*/
}
#training
{
	
	position:relative;
	font-size: 23px;
	list-style-type:none;
	float:left;
	left: 12%;
	padding: 5px 5px;

	/*Positioning for the paragraph of training and related text*/
}


#Familypic
{
	position: relative;
	float:left;
	width:250px;
	/*Relating to the size and position of the div for Family pic*/
}

#Familypic img
{
	width: 250px;
	height:250px;
	float: left;
	right: 20%;
	position: relative;
	/*Styling relating to the image of the family inside of the div*/
} 
h3
{
	color:red; 
	font-family: Sans-serif;
	text-align:center;
	font-size:60px;
	/*Styling for the About heading*/
}


#Pics2
{
	position: relative;
	float:left;
	width:250px;
	padding: 60px 60px;
	/*Relating to the size and position of the div for carpentry pic*/
}

#Pics2
{
	width: 10px;
	height: 10px;
	position:relative;
	list-style-type:none;
	float:left;
	padding: 150px 40px;
	font-size: x-large;

	/*Positioning of the carpentry picture*/

}
#carpentry
{
	clear:both;
	padding: 5px 5px;
	position:relative;
	width: 500px;
	/*Styling for the carpentry div*/
}
#carpentry
{
	
	position:relative;
	font-size: 23px;
	list-style-type:none;
	float:left;
	left: 12%;
	padding: 5px 5px;

	/*Positioning of the carpentry paragraph and related*/
}
#massage
{
	clear:both;
	padding: 5px 5px;
	position:relative;
	width: 500px;
	/*Styling for the massage div*/
}
#massage
{
	
	position:relative;
	font-size: 23px;
	list-style-type:none;
	float:left;
	left: 12%;
	padding: 5px 5px;

	/*Positioning of the massage paragraph and related text*/
}
h3
{
	color:red; 
	font-family: Sans-serif;
	text-align:right;
	font-size: 40px;

	clear: both;
	/*Styling for the About us heading*/
}
.About
{
	color:black; 
	font-family: Sans-serif;
	text-align:right;
	font-size:50px;
	clear:both;
	/*Styling for the About us heading*/
}

#house
{
	position: relative;
	/*Div relating to the small house*/
}

#house img
{
	width: 150px;
	height: 150px;
	position:relative;
	float:right;
	left: 87%;
	padding: 90px 90px;
	/*Positioning of the small house pic within its div*/
}

.menu1
{
	list-style-type:none;
	position: relative;
	float: left;
	left: 15%;
	font-size: 60px;
	padding: 40px 5px;
	/*Styling for the div which contains the list*/
	
}

.subtitle
{

	position: relative;
	float: left;
	left: 50%;
	font-size:45px;
	text-transform: uppercase;
	padding: 5px 5px;
	/*Styling for List Title/heading*/
}

.menu1 li 
{
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	font-size:45px;
	right: 30%;
	/*Styling for menu list items*/
  
  
} 
/*unclicked link styling*/
.menu1 a:link 
{
	color: blue;	
}
/*visited link styling*/
.menu1 a:active
{ 
	color: purple;	
}
/*mouse over styling*/
.menu1 li a:hover 
{;
  color: red;
  font-size:30px;
  
}
.copyright
{
	clear:both;
	padding: 90px 40px;
	position:relative;
	width: 420px;
	/*Styling for the copyright container*/
}

.copyright
{
	color:black; 
	font-family: Sans-serif;
	position:relative;
	text-align:justify;
	float:right;
	left: 3.5%;
  /*Styling for copyright information*/
}

.form
{
	left: 70%;
    top: 110%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
	font-size:30px;
	height:48px;
	/*Styling for the form on the data collection page*/
}

.FormLink
{
	text-align: justify;
	position: relative;
	text-align:center;
	width:200px;
	left: 70% ;
	font-size:30px;
	/*website link to data collection page using relative url
	this is also a div controlled by CSS*/

}

.privacy
{
	clear:both;
	padding: 30px 40px;
	position:relative;
	width: 600px;
	/*Styling for the privacy container on the homepage.*/
}
.privacy
{
	color:black; 
	font-family: Sans-serif;
	position:relative;
	text-align:justify;
	float:right;
	left: 3%;
	/*Styling for the actual privacy policy*/
}

#Smallhouse
{
	Width: 200px;
	Height: 200px;
	margin-left: -25%;
    position: absolute;
    margin-top: -25%;
	float:left;
	left: 110%;
    top: 180%;
	padding: 5px 5px;

	/*Positioning of the small house pic on the data collection page*/
}
#FormPics
{
	width: 10px;
	height: 10px;
	position:relative;
	list-style-type:none;
	float:left;
	padding: 150px 40px;
	font-size: x-large;
	/*Styling for the side pictures on the data collection page*/
}